{% extends 'admin1/master3.html' %}

{% block content %}

{% load static %}


<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Company name <br>& Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Bank details <br>Holder name <br> Account no <br>Ifsc</th>
                    <th scope="col">Request date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Risha.pvt.ltd</th>
                    <td>risha@gmail.com</td>
                    <td>koyilandy</td>
                    <td>64743383743</td>
                    <td>risha <br>637182173812918 <br> 67363</td>
                    <td>march 10,2021 <br>
                    9:53 pm
                    </td>
                    <td><button type="button" class="btn btn-info">Accept</button>
                        <button type="button" class="btn btn-info">Decline</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Risha.pvt.ltd</th>
                    <td>risha@gmail.com</td>
                    <td>koyilandy</td>
                    <td>64743383743</td>
                    <td>risha <br>637182173812918 <br> 67363</td>
                    <td>march 10,2021 <br>
                    9:53 pm
                    </td>
                    <td><button type="button" class="btn btn-info">Accept</button>
                        <button type="button" class="btn btn-info">Decline</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Risha.pvt.ltd</th>
                    <td>risha@gmail.com</td>
                    <td>koyilandy</td>
                    <td>64743383743</td>
                    <td>risha <br>637182173812918 <br> 67363</td>
                    <td>march 10,2021 <br>
                    9:53 pm
                    </td>
                    <td><button type="button" class="btn btn-info">Accept</button>
                        <button type="button" class="btn btn-info">Decline</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Risha.pvt.ltd</th>
                    <td>risha@gmail.com</td>
                    <td>koyilandy</td>
                    <td>64743383743</td>
                    <td>risha <br>637182173812918 <br> 67363</td>
                    <td>march 10,2021 <br>
                    9:53 pm
                    </td>
                    <td><button type="button" class="btn btn-info">Accept</button>
                        <button type="button" class="btn btn-info">Decline</button>
                    </td>
                  </tr>

                </tbody>
              </table>




        </div>
    </div>
</div>







{% endblock %}
