<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  
    <form action="" method="post">
        {% csrf_token %}
<label for="">first num :</label>
<input type="text" name="frstnum" id=""><br><br>
<label for="">second num :</label>
<input type="text" name="scndnum" id=""><br><br>
<button>findsum</button><br><br>

<label for="">sum :</label>
<input type="text" name="sumis" id="" value="{{res}}">


    </form>
</body>
</html>