{% extends 'reseller/master.html' %}

{% block content %}


{% load static %}

    <div class="container" style="background-color: rgb(199, 227, 227);">
        <div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
<h2>Add product</h2>
<form>
                    

  
    <div class="form-group">
      <label for="exampleFormControlSelect1">Title</label>
      <input type="text" class="form-control" placeholder="Title of the product">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Registered product id</label>
      <input type="text" class="form-control" placeholder="product id">
    </div>

  


<div class="form-group">
<label for="exampleFormControlTextarea1">Description </label>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="form-group">
  <label for="exampleFormControlSelect1">Upload product pictures</label>
  <input type="file" name="" id=""class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Price </label>
      <input type="text" name="" class="form-control" id="" placeholder="0.0">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Quantity </label>
        <input type="text" name="" id=""class="form-control" placeholder="Available quantity">
        </div>
        <div class="row">
            <div class="col">
              <label for="exampleFormControlSelect1">Weight</label>
              <input type="text" class="form-control" placeholder="0.0">
            </div>
            <div class="col">
              <label for="exampleFormControlSelect1">Weight unit</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>kilogram</option>
               <option>gram</option>
               <option>tonne</option>
                       
                 </select>
            </div>
            </div>
            <div class="row">
            <div class="col">
              <label for="exampleFormControlSelect1">Catagory</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>sports</option>
               <option>electronis</option>
               <option>garments</option>
               <option>fashion</option>      
                 </select>
          </div>
          <div class="col">
            <label for="exampleFormControlSelect1">Subcatagory</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>ladies</option>
             <option>mens</option>
             <option>children</option>
                     
               </select>
        </div>
        </div>
        <div class="row">
            <div class="col">
              <label for="exampleFormControlSelect1">Brand</label>
              <input type="text" class="form-control" placeholder="eg:nike">
            </div>
            <div class="col">
              <label for="exampleFormControlSelect1">Status</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
               <option></option>
               <option></option>
                       
                 </select>
            </div>
            </div>
            <br>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-lg btn-block">Save</button>
            </div>
</form>
    </div>
</div>
</div>



{% endblock %}