{% extends 'customer/master1.html' %}

{% block content %}

{% load static %}
<div class="container">
<div class="row">
    <div class="col- col-sm- col-md-4 col-lg-4"></div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            for
                <h2>Log in</h2>
                <div class="form-group">
                  <label for="exampleInputEmail1">User name</label>
                  <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password"name="password" class="form-control" id="exampleInputPassword1">
                </div>
                
                <button type="submit" class="btn btn-success">log in</button><br><br>

                <a href="">forget password ?</a><br><br>
                <a href="">create an account</a><br> <br>

              </form>
        </div>




      

</div>
</div>   



{% endblock %}