{% extends 'customer/master1.html' %}

{% block content %}

{% load static %}
<div class="container">
<div class="row">
    <div class="col- col-sm- col-md-4 col-lg-4"></div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <form>
                <h2>Log in</h2>
                <div class="form-group">
                  <label for="exampleInputEmail1">User name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                
                <button type="submit" class="btn btn-success">log in</button><br><br>

                <a href="">forget password ?</a><br><br>
                <a href="">create an account</a><br> <br>

              </form>
        </div>




      
<div style="background-color: rgb(179, 174, 174);" class="col-12 col-sm-12 col-md-6 col-lg-6">
    <h6>REGISTERED OFFICE ADDRESS</h6>
    <P>5th floor,crafit square,hilite buisiness park,<br>
    thondayadu,poovangal,kozhikode,kerala,670136
    </P>
</div>
<div style="background-color: rgb(179, 174, 174);" class="col-4 col-sm-4 col-md-2 col-lg-2"><H6>POLICY</H6>
<p>return policy,  <br> terms of use<br> security <br> privacy</p>
</div>
<div style="background-color: rgb(179, 174, 174);" class="col-4 col-sm-4 col-md-2 col-lg-2">
    <h6>ABOUT AS</h6>
    <p> contact us <br> about as<br> careers<br> cybersquare<br> wholesale </p>
</div>
<div  style="background-color: rgb(179, 174, 174);" class="col-4 col-sm-4 col-md-2 col-lg-2">
    <h6>SOCIAL</h6>
    <p>facebook<br> twitter<br> youtube</p>
</div>

</div>
</div>   



{% endblock %}