{% extends 'reseller/master.html' %}

{% block content %}

{% load static %}

<style>
  h2,h5{
    color: rgb(54, 116, 95);
  }
  .card-text{
    color: brown;
  }
</style>

<div class="container">
    <div class="row">
         <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" href="#">All</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Status</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Active</a>
                    <a class="dropdown-item" href="#">Draft</a>
                    <a class="dropdown-item" href="#">Archived</a>
                
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Filter 3</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Filter 4</a>
                </li>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
              </ul>

            </div> 

<div class="col-12 col-md-12">
<h2>My products</h2>
</div>

{% for product in product_data %}

<div class="col-md-4">


<div class="card" style="width: 18rem;">
  <img src="/media/{{product.pro_picture}}" class="card-img-top" alt="" height="300px" width="300px">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.quantity}}
      {{product.brand}}
      {{product.price}}</p>
    <a href="{% url 'reseller:edit' %} " class="btn btn-warning">Edit</a>  <a href="{% url 'reseller:getmyproducts' add_product.id %} " class="btn btn-danger">Delete</a>
    <input type="hidden" name="pr_id" value="{{product.id}}">
  </div>
</div>

</div>
{% endfor %}  
    





            



        
    </div>
</div>



{% endblock %}
