{% extends 'customer/master1.html' %}


{% block content %}

{% load static %}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    
    <a href="">
        <div class="div1" style="padding: 10px;padding-bottom: 20px;margin: 10px;background-color: rgb(30, 111, 203);" >
            <h2 style="color: aliceblue; text-align: center;">U.S POLO ASSN </h2>
            <img class="img-fluid" src="{% static 'images/uss2.jpg' %}" alt="" width="100%">
    
        </div>
    </a>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12"></div>
    
    <div class="col-9 col-sm-9 col-md-4 col-lg-4">
    
        <a href="">
            <div style="padding: 5px;padding-bottom: 20px;padding-right:5px; margin:10px;background-color: rgb(30, 111, 203);">
                <h2 style="color: aliceblue;text-align: center;">oppo mobiles</h2>
                <img src="{% static 'images/oppo.jpg' %}" alt="" width="100%" height="300px">
            </div>
        </a>
    </div>
    
    <div class="col-9 col-sm-9 col-md-4 col-lg-4">
    
        <a href="">
            <div style="padding: 5px;padding-bottom: 20px;padding-right:5px; margin:10px;background-color: rgb(30, 111, 203);">
                <h2 style="color: aliceblue;text-align: center;">vivo mobiles</h2>
                <img src="{% static 'images/vivo new.jpg' %}" alt="" width="100%" height="300px">
            </div>
        </a>
    </div>
    <div class="col-9 col-sm-9 col-md-4 col-lg-4">
    
        <a href="">
            <div style="padding: 5px;padding-bottom: 20px;padding-right:5px; margin:10px;background-color: rgb(30, 111, 203);">
                <h2 style="color: aliceblue;text-align: center;">samsung mobiles</h2>
                <img src="{% static 'images/samsung1.jpg' %}" alt="" width="100%" height="300px">
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
    
        <a href="">
        <div style="padding: 5px;padding-bottom: 20px;padding-right:5px; margin:10px;background-color: rgb(30, 111, 203);">
            <h2 style="color: aliceblue;text-align: center;">adidas</h2>
            <img src="{% static 'images/adidas.jpg' %}" alt="" width="100%" height="">
        </div>
    </a>
    
    
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
    
        <a href="">
        <div style="padding: 5px;padding-bottom: 20px;padding-right:5px; margin:10px;background-color: rgb(30, 111, 203);">
            <h2 style="color: aliceblue;text-align: center;">nike</h2>
            <img src="{% static 'images/nike1.jpg' %}" alt="" width="100%" height="">
        </div>
    </a>
    </div>
    



{% endblock %}









