{% extends 'customer/master2.html' %}

{% block content %}

{% load static %}
<style>
.container{
    background-color: rgb(49, 90, 186);
}
h2,h5{
    color: rgb(54, 116, 95);
  }
  .card-text{
    color: brown;
  }
</style>


<div class="container">
<div class="row">

    {% for product in product_data %}
   
<div class="col-md-4">

    <a href="{% url 'customer:viewproduct' %}">
    <div class="card" style="width: 22rem;">
      <img src="/media/{{product.pro_picture}}" class="card-img-top" alt="" height="300px" width="300px">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.discription}}
          {{product.price}}</p>
          <button class="btn btn-danger">buy now</button> 
      </div>
    </div>
    </a>
    </div>




{% endfor %}

</div>
</div>
{% endblock %}