{% extends 'customer/master2.html' %}

{% block content %}

{% load static %}



<div class="container">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12"></div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">

<a href="">
    <div class="div1" style="padding: 10px;padding-bottom: 20px;margin: 10px;background-color: rgb(30, 111, 203);" >
        <h2 style="color: aliceblue; text-align: center;">U.S POLO ASSN </h2>
        <img class="img-fluid" src="{% static 'images/uss2.jpg' %}" alt="" width="100%">

    </div>
</a>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12"></div>

<div class="col-9 col-sm-9 col-md-4 col-lg-4">

    <a href="">
        <div style="padding: 5px;padding-bottom: 20px;padding-right:5px; margin:10px;background-color: rgb(30, 111, 203);">
            <h2 style="color: aliceblue;text-align: center;">oppo mobiles</h2>
            <img src="{% static 'images/oppo.jpg' %}" alt="" width="100%" height="300px">
        <p style="color: rgb(17, 16, 16);">OPPO A78 5G (GLOWING BLUE),8GB RAM,128 STORAGE
        <br><span style="font-size: larger;">$ 299</span></p>
        
        <button class="btn btn-danger">buy now</button> 
        </div>
    </a>
</div>

<div class="col-9 col-sm-9 col-md-4 col-lg-4">

    <a href="">
        <div style="padding: 5px;padding-bottom: 20px;padding-right:5px; margin:10px;background-color: rgb(30, 111, 203);">
            <h2 style="color: aliceblue;text-align: center;">vivo mobiles</h2>
            <img src="{% static 'images/vivo new.jpg' %}" alt="" width="100%" height="300px">
            <p style="color: rgb(17, 16, 16);">VIVO Y22 (STALITE BLACK,6GB RAM,128GB STORAGE)<br> <span style="font-size: larger;">$ 6999</span> </p>
            <button class="btn btn-danger">buy now</button>
 
        </div>
           </a>
</div>
<div class="col-9 col-sm-9 col-md-4 col-lg-4">

    <a href="">
        <div style="padding: 5px;padding-bottom: 20px;padding-right:5px; margin:10px;background-color: rgb(30, 111, 203);">
            <h2 style="color: aliceblue;text-align: center;">samsung mobiles</h2>
            <img src="{% static 'images/samsung1.jpg' %}" alt="" width="100%" height="300px">
            <p style="color: rgb(17, 16, 16);">SAMSUNG ULTRA (STALITE GREY,6GB RAM,128GB STORAGE)<br> <span style="font-size: larger;">$ 558</span> </p>
            <button class="btn btn-danger">buy now</button>
        </div>
    </a>
</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-6">

    <a href="">
    <div style="padding: 5px;padding-bottom: 20px;padding-right:5px; margin:10px;background-color: rgb(30, 111, 203);">
        <h2 style="color: aliceblue;text-align: center;">adidas</h2>
        <img src="{% static 'images/adidas.jpg' %}" alt="" width="100%" height="">
        <p style="color: rgb(17, 16, 16);">ADIDAS MEN'S CLINCH X-M RUNNING SHOE<br> <span style="font-size: larger;">$ 99</span> </p>
        <button class="btn btn-danger">buy now</button>
    </div>
</a>


</div>
<div class="col-6 col-sm-6 col-md-6 col-lg-6">

    <a href="">
    <div style="padding: 5px;padding-bottom: 20px;padding-right:5px; margin:10px;background-color: rgb(30, 111, 203);">
        <h2 style="color: aliceblue;text-align: center;">nike</h2>
        <img src="{% static 'images/nike1.jpg' %}" alt="" width="100%" height="">
        <p style="color: rgb(17, 16, 16);">NIKE MEN'S DOWN SHIFTER 12 RUNNING SHOE<br> <span style="font-size: larger;">& 99</span> </p>
        <button class="btn btn-danger">buy now</button>
    </div>
</a>
</div>


</div>
</div>
{% endblock %}