{% extends 'customer/master2.html' %}


{% block content %}

{% load static %}

<div class="container">
    <div class="row">
        
        
        <div class="col-4 col-sm-4 col-md-3 col-lg-2">
            <form action="">
<h3>FILTERS</h3>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Men
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Women
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Girls
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Boys
    </label>
  </div>
  <h3>CATAGORIES</h3>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Watches
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Watch gift sets
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Smart watches
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Watch organizers
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Fitness bands
    </label>
  </div>
  <h3>BRAND</h3>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Daniel clein
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Casio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Titan
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Fastrack
    </label>
  </div>
  <h3>PRIZE</h3>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Below 500
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Below 1000
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Below 1000
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Below 5000
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Below 10000
    </label>
  </div>
  

  
  </div>
  <div class="col-6 col-sm-6 col-md-4 col-lg-5">

    <div class="card" style="width: 14rem;">
        <img src="{% static 'images/lap1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> HP LAPTOP</h5>
          <p class="card-text">HP MAGIC BOOK 12.5 INCH BLUE 32 GB ROM </p>
          <a href="#" class="btn btn-primary">View product</a>
        </div>
      </div>
      </div>
      <div class="col-6 col-sm-6 col-md-5 col-lg-5">

        <div class="card" style="width: 14rem;">
            <img src="{% static 'images/lap2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> LENOVO LAPTOP</h5>
              <p class="card-text">LENOVO MAGIC BOOK 12.5 INCH BLUE 32 GB ROM </p>
              <a href="#" class="btn btn-primary">View product</a>
            </div>
          </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 btn btn-danger btn-lg btn-block">
    <div class="dropdown">
        <a class="btn btn-danger dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           Sort what's new
        </a>
      
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Popularity</a>
          <a class="dropdown-item" href="#">offers</a>
          <a class="dropdown-item" href="#">Price low to high</a>
        </div>
      </div>
</div>
  
<div class="col-12col-sm-12 col-md-12 col-lg-12"></div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="">
        <img src="{% static 'images/lap3.jpg' %}" alt="...">
      </div>
      <div class="">
        <div class="card-body">
          <h5 class="card-title">SAMSUNG LSPTOP</h5>
          <p class="card-text">LENOVO MAGIC BOOK 12.5 INCH BLUE 32 GB ROM</p>
          <a href="#" class="btn btn-primary">View product</a>
        </div>
      </div>
    </div>
  </div>


  </div> 
  

</form>
        
    </div>
</div>












{% endblock %}